.data0.chart-pie { -fx-pie-color:plum; }
.data1.chart-pie { -fx-pie-color:powderblue; }
.data2.chart-pie { -fx-pie-color:purple; }
.data4.chart-pie { -fx-pie-color:rosybrown; }
.data5.chart-pie { -fx-pie-color:royalblue; }
.data6.chart-pie { -fx-pie-color:saddlebrown; }
.data7.chart-pie { -fx-pie-color:salmon; }
.data8.chart-pie { -fx-pie-color:sandybrown; }
.data9.chart-pie { -fx-pie-color:seagreen; }
.data10.chart-pie { -fx-pie-color:seashell; }
.data11.chart-pie { -fx-pie-color:sienna; }
.data12.chart-pie { -fx-pie-color:silver; }
.data13.chart-pie { -fx-pie-color:skyblue; }
.data14.chart-pie { -fx-pie-color:slateblue ; }
.data15.chart-pie { -fx-pie-color:slategray; }
.data17.chart-pie { -fx-pie-color:snow; }
.data18.chart-pie { -fx-pie-color:springgreen; }
.data19.chart-pie { -fx-pie-color:steelblue; }
.data20.chart-pie { -fx-pie-color:tan; }
.data21.chart-pie { -fx-pie-color:teal; }
.data22.chart-pie { -fx-pie-color:thistle; }
.data23.chart-pie { -fx-pie-color:tomato; }
.data24.chart-pie { -fx-pie-color:turquoise; }
.data25.chart-pie { -fx-pie-color:violet; }
.data26.chart-pie { -fx-pie-color:wheat; }
.data27.chart-pie { -fx-pie-color:white; }
.data29.chart-pie { -fx-pie-color:yellow; }
.data30.chart-pie { -fx-pie-color:yellowgreen; }